:root
{
    --first-color: #F1F0F0;
    --second-color: #FFFFFF;
    --third-color: #e6e6e6;
    
    --text-color: #333333;
    
    --btn-color: #4599f8;
}


.dark-mode
{
    --first-color: #585858;
    --second-color: #000000;
    --third-color: #7e7e7e;
    
    --btn-color: #f84545;
}


body
{
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: var(--first-color);
    width: 100%;
    margin-bottom: 90px;
}

.pokeball-icon
{
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-left: 50px;
    transition: transform 0.7s ease-out;
}

.pokeball-icon:hover
{
    cursor: pointer;
    transform: rotate(360deg);
    transition: transform 0.7s ease-out;
}

form.search
{
    display: flex;
    flex-direction: row;
    align-items: center;

}

input[type="text"]
{
    border: none;
    border-radius: 25px 0px 0px 25px;
    padding: 7px 15px;
    width: 250px;
    height: 30px;
}

.submit-button
{
    width: 50px;
    margin-left: -5px;
    height: 30px;
    border: none;
    background: var(--btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
}

.submit-button:hover
{
    cursor: pointer;
}

input[type="text"]:focus, .submit-button:focus
{
    outline: none !important;
    border: none;
}

main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    gap: 100px;
    /* width: 1500px; */
    /* background-color: gray; */
    margin-left: min(50px);
    margin-right: min(50px);
}

h4
{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px;
}

.card-pokemon
{
    background-color: var(--third-color);
    border-radius: 15px;
    height: 220px;
    width: 220px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform .2s ease-in-out;
}

.card-pokemon:hover
{
    transform: scale(1.05);
    cursor: pointer;    
    transition: transform .2s ease-in-out;
}

.pokemon-img
{
    margin: auto;
    /* scale: 1.3; */
    width: 140px;
}

.type
{
    border-radius: 30px;
    padding: 2px 13px;
    font-size: 0.8rem;
    
    color: var(--second-color);
}

.div-types
{
    margin: 10px auto;
    display: flex;
    gap: 10px;
}


@media (max-width: 700px)
{
    .pokeball-icon, form.search
    {
        display: none;
    }

    header
    {
        justify-content: center;
    }
    
    #toggle-div
    {
        margin: 0 !important;
    }
}