.normal
{
    background-color: #929da3;
}

.fighting
{
    background-color: #ce416b;
}

.flying
{
    background-color: #8fa9de;
}

.poison
{
    background-color: #aa6bc8;
}

.ground
{
    background-color: #d97845;
}

.rock
{
    background-color: #c5b78c;
}

.bug
{
    background-color: #91c12f;
}

.ghost
{
    background-color: #5269ad;
}

.steel
{
    background-color: #5a8ea2;
}

.fire
{
    background-color: #ff9d55;
}

.water
{
    background-color: #5090d6;
}

.grass
{
    background-color: #63bc5a;
}

.electric
{
    background-color: #f4d23c;
}

.psychic
{
    background-color: #fa7179;
}

.ice
{
    background-color: #73cec0;
}

.dragon
{
    background-color: #0b6dc3;
}

.dark
{
    background-color: #5a5465;
}

.fairy
{
    background-color: #ec8fe6;
}
